snippet Ee "" i
Employee
endsnippet

snippet ee "" i
employee
endsnippet

snippet eeid "" i
employee${0:_}id
endsnippet

snippet EE "" i
EMPLOYEE
endsnippet

snippet Cl "" i
Client
endsnippet

snippet cl "" i
client
endsnippet

snippet CL "" i
CLIENT
endsnippet

snippet di "" i
division
endsnippet

snippet id "" i
_id
endsnippet





